/** Override bootstrap's default values here. */

/** Color of active navigation link. */
$navbar-light-active-color: #0d6efd;

/** Color of Logo. */
$navbar-light-brand-color: black;

/** Use deeper color of gray for navigation header and footer nav bars. */
$light: rgb(242,242,242);

/** Import Bootstrap. This has to be placed last, after other values were overridden. */
@import "~bootstrap/scss/bootstrap";
